*{
	margin: 0px;padding: 0px;

}
html,body{
	font-size: 100%;
	width:100%;height: 100%;
	font-family: 'Open Sans', sans-serif;
}

ul,ol{
	list-style: none;
}


.container-fluid{
	padding: 0px;
}

.content-box{
	padding:20px;
	margin:0px;
}

.addmsg-box{
	margin:50px 0px;
}

.comment-list{
	padding:10px;
	border:1px solid #eee;
	margin: 10px 0px;
	
}

.comment-item__username{
	background: #eee;
	border-bottom: 1px dotted #8a8c8c;
	padding:20px;
}