{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="alberto.rios">
        <title>TASK TWO 2017 &reg;</title>
        <meta name="" content="#496201">
        <!-- core CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">        

        {%block extras%}{%endblock%}
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/textAngular.css" rel="stylesheet">
        <link href="/static/css/frontend-main.css" rel="stylesheet">



</head>
<body ng-app='mainApp' >



<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WEBSITE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
        </ul>
      </div>
    </nav>

    {% block content%}
    {% endblock %}
</div>

<footer>&nbsp;</footer>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>

    <script src='/static/js/textangular/textAngular-rangy.min.js'></script>
    <script src='/static/js/textangular/textAngular-sanitize.min.js'></script>
    <script src='/static/js/textangular/textAngular.min.js'></script>
            
    <script type="text/javascript">    
        var myapp = angular.module('mainApp',['ngRoute','textAngular']);
        var customInterpolationApp = angular.module('customInterpolationApp', []);

        
        myapp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('||');
            $interpolateProvider.endSymbol('||');

        });

        myapp.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';        
        }]);
                
    </script>
    <script src='/static/js/managecomments.js'></script>
    <script src='/static/js/cmmts_ctr.js'></script>
</body>

</html>