{% extends 'webapp/base.html' %}

{% block content %}
    <div class="row content-box">

        <div class="col-md-6 col-sm-6 col-xs-1">
            
         <div class="card">
              <h4 class="card-header">Comments</h4>
              <div class="card-body">
                <h4 class="card-title">Jquery</h4>
                <p class="card-text"></p>


                <div id="comment-box">
                </div>

                <div class="addmsg-box">
                    <textarea id="messagetext" class="form-control"></textarea>

                    <br/>
                    <a href="#" class="btn btn-primary addmsg">Add Coment</a>
                </div>


              </div>
            </div>



        </div>

        <div class="col-md-6 col-sm-6 col-xs-1" ng-controller="cmmtCtr">

            <div class="card">
              <h4 class="card-header">Comments</h4>
              <div class="card-body">
                <h4 class="card-title">AngularJS</h4>
                <p class="card-text"></p>


                <div class="comment-list" data-count="||comments.length||" ng-repeat="c in comments">
                    <div class="comment-item">
                        <div class="comment-item__username">||c.username||</div>
                        <div ng-bind-html="c.message" class="comment-item__message">||c.message||</div>
                    </div>
                </div>

                <div class="addmsg-box">
                    <text-angular ta-toolbar="[]" class="form-control" name="message_form"  ng-model="messagetext">
                        
                    </text-angular>
                    <br/>
                    <a href="#" class="btn btn-primary" ng-click="addmsg($event,messagetext);">Add Coment</a>
                </div>


              </div>
            </div>

        </div>


    </div>
{%  endblock %}


